<section class="grid grid-cols-1 gap-4 sm:grid-cols-2 xl:grid-cols-4">

    @for (stat of stats; track stat.titulo) {

    <mat-card 
        appearance="outlined" 
        class="
        !rounded-2xl
        !border-border
        !bg-surface
    ">

        <mat-card-content class="!p-5">

            <!-- CABEÇALHO -->
            <div class="flex items-start justify-between">

                <!-- ÍCONE -->
                <div class="
                    flex h-10 w-10
                    items-center 
                    justify-center
                    rounded-xl
                    bg-primary-light
                    text-primary
                    " [class.!bg-[#fff4df]]="stat.tipo === 'warning'" 
                    [class.!text-warning]="stat.tipo === 'warning'
                ">

                    <mat-icon class="!text-[22px]">
                        {{ stat.icone }}
                    </mat-icon>

                </div>


                <!-- VARIAÇÃO -->
                <span class="
                    rounded-full
                    bg-primary-light
                    px-2.5 py-1
                    text-xs
                    font-semibold
                    text-primary
                    " [class.!bg-[#fff4df]]="stat.tipo === 'warning'" 
                    [class.!text-warning]="stat.tipo === 'warning'
                ">
                    {{ stat.variacao }}
                </span>

            </div>


            <!-- INFORMAÇÕES -->
            <div class="mt-4">

                <p class="text-xs font-medium text-text-secondary">
                    {{ stat.titulo }}
                </p>

                <p class="
                    mt-1
                    text-xl
                    font-semibold
                    tracking-tight
                    text-text
                ">
                    {{ stat.valor }}
                </p>

                <p class="mt-1 text-xs text-text-secondary">
                    {{ stat.descricao }}
                </p>

            </div>

        </mat-card-content>

    </mat-card>

    }

</section>